<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>프로필 수정</title>
</head>
<body>
    <div th:if="${user.profile_img}==null">
        <img src="/img/userProfile.png">
    </div>
    <div th:unless="${user.profile_img}==null">
        <img th:src="${user.profile_img}">
    </div>
    <form th:action="@{/users/{userId}/profile-nickname(userId=${user.id})}" method="post">
        <input type="text" th:value="${user.nickname}" name="nickname">
        <input type="submit" value="완료">
    </form>

    <form th:action="@{/users/{userId}/profile-image(userId=${user.id})}" method="post" enctype="multipart/form-data">
        <div class="custom-file" id="inputFile">
            <label for="profile_img" class="inputFileButton">파일선택</label>
            <input name="file" type="file" id="profile_img">
        </div>
        <input type="submit" value = "업로드" id="submitButton"/>
    </form>
</body>
</html>