<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>당근마켓 로그인</title>
</head>
<body>
<div>
    <form action="/users/login" method="post">
        <div>
            <label for="email">이메일(ID)</label>
            <input type="text" name="email" id="email" required>
        </div>

        <div>
            <label for="password">비밀번호(PW)</label>
            <input type="text" name="password" id="password" required>
        </div>
        <input type="submit" value="로그인">
    </form>
</div>
</body>
</html>