<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<body>
    <div>
        <!-- 프로필 이미지가 없으면 기본 이미지 출력 / 있으면 출력 -->
        <div th:if="${user.profile_img}==''">
            <img src="/img/userProfile.png">
        </div>
        <div th:unless="${user.profile_img}=='' ">
            <img th:src="${user.profile_img}">
        </div>

        <p th:text="${user.nickname}"></p>
    </div>
    <div>
        <button th:onclick="'location.href=\'/users/' + ${user.id} + '/profile\''">프로필 수정</button>
    </div>
    <div>
        <button>판매내역</button>
        <button>관심목록</button>
    </div>
    <div>
        <button>로그아웃</button>
    </div>
</body>
</html>