<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>동네 페이지</title>
</head>
<body>
    <div>
        <p>개발자님 동네</p>
        <img src="/img/find.png">
        <p th:text="${uid}"></p>
    </div>

    <div>

    </div>
    <button onclick="location.href='/product'">+</button>
    <div>
        <button onclick="location.href='/products'">홈</button>
        <button th:onclick="'location.href=\'/users/' + ${uid} + '\''">나의 당근</button>
    </div>
</body>
</html>