<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>당근마켓 회원가입</title>
</head>
<body>
    <div>
        <form action="/users/register" method="post">
            <div>
                <label for="email">이메일(ID)</label>
                <input type="text" name="email" id="email" required>
            </div>

            <div>
                <label for="password">비밀번호(PW)</label>
                <input type="text" name="password" id="password" required>
            </div>

            <div>
                <label for="name">이름</label>
                <input type="text" name="name" id="name" required>
            </div>

            <div>
                <label for="phone_num">핸드폰 번호</label>
                <input type="text" name="phone_num" id="phone_num" required>
            </div>

            <div>
                <label for="nickname">닉네임</label>
                <input type="text" name="nickname" id="nickname" required>
            </div>

            <input type="submit" value="회원가입">
        </form>
    </div>
</body>
</html>
